h1 {font-size: 10vh;
    color:gray;
    font-family:'Lora',serif;
    font-weight: 700;
}

h2 {font-size: 7vh;
    color:gray ;
    font-family:'Lora',serif;
    font-weight:700;
    font-style: italic;
}

.testbox{
    border-radius: 25;
    border:solid 2px black;
    height:100%;
    width:100%;
}

.height-25{height:25vh;}
.flexbox{display:flex}
.spacearound{justify-content: space-around;}
